<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Film</title>
</head>
<body>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="col-6">
            <h2 class="text-center">{{film.name}}'s Movies</h2>
            <table class="table table-warning">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.year }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            
        </div>
    </div>
</body>
</html>